<div class="pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Add Pessoa</h2>
</div>
<form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-3 col-lg-3 mb-2">
          <label>Nome</label>
          <input
            type="text"
            formControlName="nome"
            class="form-control"
            required
          />
          <p *ngIf="pf['nome'].touched && pf['nome'].invalid" class="error">
            <sup>*</sup>Digite o Nome
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2">
          <label>Telefone</label>
          <input
            type="text"
            formControlName="telefone"
            class="form-control"
            required
          />
          <p *ngIf="pf['telefone'].touched && pf['telefone'].invalid" class="error">
            <sup>*</sup>Digite o Telefone
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2">
          <label>Idade</label>
          <input
            type="number"
            formControlName="idade"
            class="form-control"
            required
          />
          <p *ngIf="pf['idade'].touched && pf['idade'].invalid" class="error">
            <sup>*</sup>Digite a Idade
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2" *ngIf="!editForm">
          <label>Cidade</label>
          <input
            type="text"
            formControlName="cidade"
            class="form-control"
            required
          />
          <p *ngIf="pf['cidade'].touched && pf['cidade'].invalid" class="error">
            <sup>*</sup>Digite a Cidade
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2" *ngIf="!editForm">
          <label>Estado</label>
          <input
            type="text"
            formControlName="estado"
            class="form-control"
            required
            [max]="2"
          />
           <p *ngIf="pf['estado'].touched && pf['estado'].invalid" class="error">
            <sup>*</sup>Digite o Estado
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2" *ngIf="!editForm">
          <label>Score</label>
          <input
            type="number"
            formControlName="score"
            class="form-control"
            required
            [min]="0"
            [max]="1000"
          />
          <p *ngIf="pf['score'].touched && pf['score'].invalid" class="error">
            <sup>*</sup>Digite o Score
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2" *ngIf="!editForm">
          <label>Região</label>
          <select
            class="form-control form-select"
            formControlName="regiao"
            aria-label=""
            required
          >
            <option *ngFor="let afinidade of afinidades" [ngValue]="afinidade">
              {{afinidade.regiao}}
            </option>
          </select>
          <!-- <input
            type="text"
            formControlName="regiao"
            class="form-control"
            required
          /> -->
          <p *ngIf="pf['regiao'].touched && pf['regiao'].invalid" class="error">
            <sup>*</sup>Seleciona a região
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 mb-2" *ngIf="editForm">
          <label>Score</label>
          <input
            type="text"
            formControlName="scoreDescricao"
            class="form-control"
            required
          />
        </div>
        <div class="col-xl-3 col-lg-3 mb-2" *ngIf="editForm">
          <label>Estados</label>
          <input
            type="text"
            formControlName="estados"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="form-group text-right">
        <!-- <button
          type="button"
          class="btn btn-secondary gap-right"
          (click)="ResetForm()"
        >
          Reset
        </button> -->
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!pessoaForm.valid"
        >
          Add Pessoa
        </button>
      </div>
    </div>
  </div>
</form>
